:root {
    --backgroundcolorDark: #1E3A5F;
    --backgroundcolorLight: white;
    --secondarycolor: gold;
    --fontcolorLight: white;
    --fontcolorDark:#1E3A5F;
    --fontfamilyPrimary: 'DM Sans'

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: var(--fontfamilyPrimary);
}
header {
    background-color: var(--backgroundcolorDark);
    color: var(--fontcolorLight);
}
.mainHeader {
    display: flex;
}
.mainHeader h1 {
    padding-right: 1.5em;
}

#logo {
	min-width: 100px;
    width: 10%;
    height: 100px;
}
/**********Dynamic Menu and navigation************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--fontcolorLight);
}
#menu::before {
	content: "≡";
}
nav {
	display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}
nav ul {
    overflow: hidden;
}
nav.show {
    grid-template-rows: 1fr;
}
#menu.show::before {
	content: "x";
}
.navigation {
	list-style: none;

	max-width: 900px;
}

.navigation li {

	border-radius: 10px;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
    width: 100%;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    color: var(--fontcolorLight);
	
}
.navigation a:hover, .navigation a:active, .navigation a.active {
	color: var(--fontcolorDark);
	background-color: var(--secondarycolor);
}

.navigation a.active {
    background-color: var(--backgroundcolorLight);
    color: var(--fontcolorDark); 
    font-weight: bold;
    border-bottom: 3px solid var(--fontcolorLight); 
}


/*********Index Main**********/
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
#hero:hover img {
    opacity: 0.3;
}
#hero:hover .callToAction{
    opacity: 1;
}
#hero img {
    display: block;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    width: 100%;
    height: auto;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) ease; /* Part of transition effect*/
    backface-visibility: hidden; /* Part of transition effect*/
}
.callToAction {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--secondarycolor);
    color: var(--fontcolorDark);
    padding: 10px 20px;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 10px;
    text-align: center;
    /* Part of transition effect*/
    transition: .5s ease;
    opacity: 0;
    transform: translate(0%, 0%);
    -ms-transform: translate(-50%, -50%)

}

#home {
    display: flex;
    flex-direction: column;
}

#home section {
    border: solid 1px var(--backgroundcolorDark);
    height: 250px;
    margin: 5px;
}

#home section h2 {
    text-align: center;
    color: var(--fontcolorLight);
    background-color: var(--backgroundcolorDark);
    padding: 5px;
    margin: 5px;
}
/************ Current Weather ****************/
#weather {
    text-align: center;
}
.temp {
    font-size: xx-large;

}

/*********** Weather Forecast *************/
#forecast div {
    display: flex;
    padding: 5px;
    align-items: baseline;
    justify-content: space-between;
}


/************ Spotlight Section ***************/
.spotlight{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.spotlightCard {
    display: grid;
    border: 1px solid var(--backgroundcolorDark);
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 10px;
    padding: 10px;
}
.spotlightCard img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    align-items: center;
    justify-items: center;
}

.spotlightCard h3 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    text-align: left;
}

.spotlightCard a{
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    font-size: clamp(.75rem, 1vw, 2.5rem);
}

.spotlightCard p {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

/**********CSS Form***********/
fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;
    
}

legend {
    font-size: 1.25em;
    padding: 0 .25em;
    color: var(--fontcolorDark);
}

label {
    display: block;
    margin-top: 1em;
}

input {
    padding: .5em;
    border: solid 1px #999;
    display: block;
}
input[type="email"], input[type="text"] {
    width: 15em;
}

textarea {
    min-height: 8em;
    min-width: 100%;
    padding: .5em;
    border: solid 1px #999;
}

.membership {
    margin-bottom: 1em;
}

.membership p {
    margin-bottom: 0;
}

input[type="radio"] {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
}
input [type="radio"] {
    margin-left: 1.5em;
    margin-right: 0;
}

#joinNow {
    width: 96%;
    margin-left: 2%;
    padding: 5px;
    background-color: var(--backgroundcolorDark);
    color: var(--fontcolorLight);
    border-radius: 6px;
    
}

.membershipCard {
    text-align: center;
    padding: 2em;
    margin: 2em 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.membershipCard p:first-of-type {
    margin-top: 1em;
    background-color: var(--backgroundcolorDark);
    color: var(--fontcolorLight);
    padding: .5em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 5px;
    min-width: 200px;
}
.membershipCard p:first-of-type:hover {
    cursor: pointer;
    background-color: var(--secondarycolor);
    color: var(--fontcolorDark);
    font-weight: bold;
    transition: .2s;
}

dialog {
    display: block;
    border: 1px solid rgba(0 0 0 / 0.1);
    border-radius: .25rem;
    padding: 1rem;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0 3rem rgba(0 0 0 / 0.3);
}

dialog::backdrop {
    background-color: rgba(0 0 0 / 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right:23px;
    padding: .5rem 1rem;
    border: 1px solid  rgba(0 0 0 / 0.1);
}
dialog > ul {
    padding: 5px;
}




/*********Index Footer********/
footer{
    background-color:var(--backgroundcolorDark);
    color:var(--fontcolorLight);
    text-align: center;
    padding: 20px;
}


/**********Larger views**********/
@media (min-width: 640px) {
    #menu {
        display: none;
    }
    #hero img{
        width: 100%;
        height: 450px;
        max-width: 1350px;
    }
    nav {
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .navigation {
        display: flex;
        width: 100%;
    }
    .navigation li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }
    .navigation a {
        text-align: center;
    }
    #home {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }
    #formMain {
        display: grid;
        grid-template-columns: auto auto;
    }

}

@media (min-width: 1000px) {
    .spotlight {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}